openapi: 3.2.0
info:
  title: SingleFile External API Documentation Jurisdictions API
  description: Entity jurisdictions and DBAs across US states
  termsOfService: https://www.singlefile.io/
  contact:
    email: support@singlefile.io
  license:
    name: BSD License
  version: v1
  x-apievangelist-provenance:
    method: searched
    source: https://docs.singlefile.ai/ (ReadMe per-operation OpenAPI fragments merged; OAuth2 scheme added from the documented Authentication guide)
    generated: '2026-07-21'
servers:
- url: https://api.demo.singlefile.ai/external-api/v1
security:
- OAuth2ClientCredentials:
  - read
  - write
tags:
- name: Jurisdictions
  description: Entity jurisdictions and DBAs across US states
paths:
  /jurisdictions/{jurisdiction_id}/dbas:
    parameters:
    - name: jurisdiction_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: jurisdictions_dbas_create
      description: List, create, delete, or update DBAs for a jurisdiction (collection).
      responses:
        '201':
          description: ''
      tags:
      - Jurisdictions
      summary: Jurisdictions dbas create
      x-summary-source: derived
    delete:
      operationId: jurisdictions_dbas_delete
      description: List, create, delete, or update DBAs for a jurisdiction (collection).
      responses:
        '204':
          description: ''
      tags:
      - Jurisdictions
      summary: Jurisdictions dbas delete
      x-summary-source: derived
    get:
      operationId: jurisdictions_dbas_list
      description: List, create, delete, or update DBAs for a jurisdiction (collection).
      responses:
        '200':
          description: ''
      tags:
      - Jurisdictions
      summary: Jurisdictions dbas list
      x-summary-source: derived
    patch:
      operationId: jurisdictions_dbas_partial_update
      description: List, create, delete, or update DBAs for a jurisdiction (collection).
      responses:
        '200':
          description: ''
      tags:
      - Jurisdictions
      summary: Jurisdictions dbas partial update
      x-summary-source: derived
  /jurisdictions/{jurisdiction_id}:
    parameters:
    - name: jurisdiction_id
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: jurisdictions_partial_update
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/JurisdictionUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JurisdictionUpdate'
      tags:
      - Jurisdictions
      summary: Jurisdictions partial update
      x-summary-source: derived
    get:
      operationId: jurisdictions_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JurisdictionDetail'
      tags:
      - Jurisdictions
      summary: Jurisdictions read
      x-summary-source: derived
    put:
      operationId: jurisdictions_update
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/JurisdictionUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JurisdictionUpdate'
      tags:
      - Jurisdictions
      summary: Jurisdictions update
      x-summary-source: derived
components:
  schemas:
    JurisdictionUpdate:
      type: object
      properties:
        state_file_number:
          title: State file number
          type:
          - string
          - 'null'
          maxLength: 30
        local_address:
          $ref: '#/components/schemas/ExternalAddress'
        registration_date:
          title: Registration date
          type:
          - string
          - 'null'
          format: date
        expiration_date:
          title: Expiration date
          type:
          - string
          - 'null'
          format: date
    JurisdictionDetail:
      required:
      - registration_type
      - state_file_number
      - status
      - has_annual_report_subscription
      - is_registered_agent
      type: object
      properties:
        id:
          title: Id
          type:
          - string
          - 'null'
          readOnly: true
        name:
          title: Jurisdiction
          type:
          - string
          - 'null'
          maxLength: 100
        organization_id:
          title: Organization id
          type: string
          readOnly: true
        entity_id:
          title: Entity id
          type: string
          readOnly: true
        registration_type:
          title: Registration type
          type: string
          minLength: 1
        state_file_number:
          title: State file number
          type: string
          minLength: 1
        registration_date:
          title: Registration date
          type:
          - string
          - 'null'
          format: date
        expiration_date:
          title: Expiration date
          type:
          - string
          - 'null'
          format: date
        status:
          title: Status
          type: string
          minLength: 1
        has_annual_report_subscription:
          title: Has annual report subscription
          type: boolean
        is_registered_agent:
          title: Is registered agent
          type: boolean
        dbas:
          title: Dbas
          type: string
          readOnly: true
        local_address:
          $ref: '#/components/schemas/ExternalAddress'
        created_at:
          title: Created at
          type: string
          format: date-time
        updated_at:
          title: Updated at
          type: string
          format: date-time
    ExternalAddress:
      type: object
      properties:
        id:
          title: Id
          type:
          - string
          - 'null'
          readOnly: true
        street_address:
          title: Street address
          type:
          - string
          - 'null'
          maxLength: 200
        city:
          title: City
          type:
          - string
          - 'null'
          maxLength: 100
        state:
          title: State
          type:
          - string
          - 'null'
          maxLength: 100
        postal_code:
          title: Postal code
          type:
          - string
          - 'null'
          maxLength: 20
        country:
          title: Country
          type:
          - string
          - 'null'
          maxLength: 100
        country_code:
          title: Country code
          type:
          - string
          - 'null'
          maxLength: 10
        country_area:
          title: Country area
          type:
          - string
          - 'null'
          maxLength: 100
        city_area:
          title: City area
          type:
          - string
          - 'null'
          maxLength: 100
        sorting_code:
          title: Sorting code
          type:
          - string
          - 'null'
          maxLength: 100
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials flow. Exchange client_id/client_secret at the token endpoint for a 1-hour bearer token; send it as Authorization: Bearer <token>.'
      flows:
        clientCredentials:
          tokenUrl: https://api.demo.singlefile.ai/o/token/
          scopes:
            read: Read access to entities, organizations, orders, documents, jurisdictions and tasks
            write: Create and update entities, organizations, orders, documents and jurisdictions
